

<h3>The students we have in our database are: </h3>

<!-- SHOWS ALL THE STUDENTS -->
	<table class="tableclass">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Graduation Status</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	<%@students.each do |id, firstname, lastname, major , email , graduationstat|%>	
		<tr >
			<td ><a href="/students/<%=id%>"><%=firstname%> </a></td>
			<td><a href="/students/<%=id%>"><%=lastname%></a></td>
			<td><a href="/students/<%=id%>"><%=graduationstat%></a></td>
			<td><a href="/students/<%=id%>/edit" class= "anchor"> Edit</a></td>
			<td><a href="/students/<%=id%>/delete" class = "anchor"> Delete</a></td>
		</tr>
	<%end%>
	</table>
	<br>
	<br>
	<h3>List of Students who have graduated:</h3>

<!-- SHOWS GRADUATED STUDENTS -->
<table class="tableclass">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Graduation Status</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

	<%@gradstud.each do |id, firstname, lastname, major , email , graduationstat|%>

			
				<tr >
					<td ><a href="/students/<%=id%>"><%=firstname%> </a></td>
					<td><a href="/students/<%=id%>"><%=lastname%></a></td>
					<td><a href="/students/<%=id%>"><%=graduationstat%></a></td>
					<td><a href="/students/<%=id%>/edit" class= "anchor"> Edit</a></td>
					<td><a href="/students/<%=id%>/delete" class = "anchor"> Delete</a></td>
				</tr>		
	<%end%>
	</table>
	<br>
	<br>
	<h3>List of Students who are currently enrolled:</h3>

<!-- SHOWS STUDENTS WHO HAVE NOT GRADUATED -->
<table class="tableclass">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Graduation Status</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

	<%@nongrad.each do |id, firstname, lastname, major , email , graduationstat|%>
			<tr >
				<td ><a href="/students/<%=id%>"><%=firstname%> </a></td>
				<td><a href="/students/<%=id%>"><%=lastname%></a></td>
				<td><a href="/students/<%=id%>"><%=graduationstat%></a></td>
				<td><a href="/students/<%=id%>/edit" class= "anchor"> Edit</a></td>
				<td><a href="/students/<%=id%>/delete" class = "anchor"> Delete</a></td>
			</tr>
	<%end%>
	</table>
	<br>
	<br>











