<h2>More info on <%=@student[0][1]%> </h2>

<h3 class = " displayname">First Name:  <span style="color:#26E6DD;"><%=@student[0][1]%></span></h3>
<h3 class = " displayname">Last Name:  <span style="color:#26E6DD;"><%=@student[0][2]%></span></h3>
<h3 class = " displayname">Major:  <span style="color:#26E6DD;"><%=@student[0][3]%></span></h3>
<h3 class = " displayname">Email:  <span style="color:#26E6DD;"><%=@student[0][4]%></span></h3>
<h3 class = " displayname">Graduation Status:  <span style="color:#26E6DD;"><%=@student[0][5]%></span></h3>
<br><br><br><br><br><br><br><br><br><br>
